.authentication {
  background-color: $color-white;
  overflow: hidden;
  margin: 0 auto;
  height: 100vh;

  form {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    width: 90%;
    margin: -135px auto 0;
  }

  .btn {
    margin: 0 auto;
    font-size: 15px;
    line-height: 1;
  }

  &__content {
    background: $color-white;
    height: 100vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__label {
    display: block;
    font-size: 15px;
    color: #575b5d;
    margin-top: 12px;
    margin-bottom: 6px;
  }

  &__input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    color: #575b5d;
    font-size: 14px;
    border-radius: 4px;
    padding: 8px 12px;
    width: calc(100% - 24px);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      border-color: rgba(33, 33, 33, 0.4);
      outline: none;
    }
  }

  &__text {
    @include flex;
    font-size: 14px;
    color: $color-primary;

    svg {
      margin-right: 8px;
    }

    &--error {
      text-align: center;
    }

    &--success {
      font-size: 16px;
      text-align: center;
      color: #575b5d;
      font-weight: 300;
      margin-top: 5px;
    }
  }

  &__inputs {
    margin-bottom: 15px;
  }

  &__list {
    list-style: none;
    margin-top: 75px;
    margin-left: 5px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__info {
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;

    svg {
      margin-right: 8px;
    }

    &--left {
      text-align: left;
    }

    &--bottom {
      margin-bottom: 25px;
    }
  }

  .container {
    max-width: 100%;
    margin: 0;
  }

  .information {
    &__text {
      font-size: 15px;
      max-width: 90%;
      margin: 0 auto 16px;
    }
  }
}

@media screen and (min-width: 576px) {
  .authentication {
    form {
      max-width: 85%;
      width: 85%;
      margin: -135px auto 0;
    }

    &__info,
    &__footer {
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 768px) {
  .authentication {
    max-width: 100%;
    margin: 0;

    form {
      max-width: 70%;
      width: 70%;
      margin: -135px auto 0;
    }
  }
}

@media screen and (min-width: 992px) {
  .authentication {
    display: grid;
    grid-template-columns: 1fr 1fr;

    background: url('https://mc-cloudy.com/public/images/feature-07.webp') no-repeat;
    background-size: cover;

    form {
      max-width: 80%;
      width: 80%;
      margin: -135px auto 0;
    }

    &__info {
      &--left {
        text-align: center;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .authentication {
    grid-template-columns: 1.5fr 2.5fr;

    form {
      max-width: 90%;
      width: 90%;
      margin: -135px auto 0;
    }

    .information {
      &__text {
        font-size: 16px;
        max-width: 90%;
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .authentication {
    grid-template-columns: 1.5fr 3fr;

    form {
      max-width: 90%;
      width: 90%;
    }
  }
}