.badge {
  margin-top: 20px;

  &__content {
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $color-light;
    border-radius: .75rem;
  }

  &__icon {
    display: flex;
    height: 54px;
    width: 54px;
    border-radius: 50%;
    background-color: #e4f1ff;
    color: $color-primary;
    font-size: 1.6em;

    svg {
      margin: auto;
    }
  }

  &__text {
    margin-top: 12px;
    margin-bottom: 24px;
    text-align: center;
    color: $color-text-primary;
  }

  &__title {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 4px;
  }

  &__subtitle {
    font-size: 16px;
    font-weight: 400;
    color: $color-gray;
  }

  &__buttons {
    margin: 0 auto;
    display: inline-flex;

    .btn:not(:last-child) {
      margin-right: 8px;
    }
  }
}