.feature {
  &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 22px;
    list-style: none;
  }

  &__item {
    display: flex;
    grid-gap: 16px;
  }

  &__image {
    @include flex;
    background-color: #ebedf0;
    border-radius: 8px;
    width: 70px;
    height: 70px;
    min-width: 70px;
    min-height: 70px;

    img {
      width: 42px;
      height: 42px;
    }
  }

  &__content {
    color: $color-gray;
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 4px;
  }

  &__text {
    font-size: 14px;

    a {
      color: $color-primary;

      &:hover,
      &:focus {
        color: $color-primary-hover;
      }
    }
  }
}

@media screen and (min-width: 576px) {
  .feature {
    &__item {
      display: flex;
    }

    &__image {
      min-width: 70px;
      min-height: 70px;
    }

    &__title {
      font-size: 18px;
    }

    &__text {
      font-size: 16px;
    }
  }

  #play .feature {
    &__item {
      align-items: center;
    }
  }
}

@media screen and (min-width: 768px) {
  .feature {
    &__list {
      width: 80%;
      margin: 0 auto;
    }
  }

  #play .feature {
    &__list {
      grid-template-columns: 1fr;
      width: 80%;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 992px) {
  .feature {
    &__list {
      grid-template-columns: 1fr 1fr;
      grid-gap: 35px;
      width: 100%;
    }
  }

  #play .feature {
    &__list {
      display: flex;
      width: 100%;
      grid-gap: 12px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .feature {
    &__list {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
    }

    &__title {
      font-size: 20px;
    }

    &__text {
      font-size: 20px;
      max-width: 90%;
    }

    &__image {
      min-width: 90px;
      min-height: 90px;
    }
  }

  #play .feature {
    &__image {
      display: inline-flex;
      width: 60px;
      height: 60px;
    }
  }
}

@media screen and (min-width: 1400px) {
  .feature {
    &__image {
      display: inline-flex;
      width: 65px;
      height: 65px;
      min-width: 65px;
      min-height: 65px;

      img {
        width: 35px;
        height: 35px;
      }
    }

    &__list {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 50px;
      grid-row-gap: 30px;
    }

    &__item {
      align-items: center;
    }

    &__title {
      font-size: 18px;
      margin-bottom: 0;
    }

    &__text {
      font-size: 18px;
      max-width: 100%;
    }
  }

  #play .feature {
    &__image {
      display: inline-flex;
      width: 65px;
      height: 65px;
      min-width: 65px;
      min-height: 65px;

      img {
        width: 35px;
        height: 35px;
      }
    }

    &__list {
      width: 100%;
      grid-gap: 18px;
    }
  }
}