.feature {
  &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 22px;
    list-style: none;
  }

  &__item {
    display: flex;
    grid-gap: 16px;
  }

  &__image {
    @include flex;
    background-color: #ebedf0;
    border-radius: 8px;
    min-width: 60px;
    min-height: 60px;

    width: 60px;
    height: 60px;

    img {
      width: 42px;
      height: 42px;
    }
  }

  &__content {
    color: $color-gray;
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 4px;
  }

  &__text {
    font-size: 14px;

    a {
      color: $color-primary;

      &:hover,
      &:focus {
        color: $color-primary-hover;
      }
    }
  }
}

#play .feature {
  &__item {
    align-items: center;
  }
}

@media screen and (min-width: 576px) {
  .feature {
    &__title {
      font-size: 18px;
    }

    &__text {
      font-size: 16px;
    }

    &__item {
      align-items: center;
    }
  }
}

@media screen and (min-width: 768px) {
  .feature {
    &__list {
      width: 80%;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 992px) {
  .feature {
    &__list {
      grid-template-columns: 1fr 1fr;
      grid-gap: 35px;
      width: 100%;
    }
  }

  #play .feature {
    &__list {
      display: flex;
      grid-gap: 12px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .feature {
    &__image {
      min-width: 80px;
      min-height: 80px;

      img {
        width: 50px;
        height: 50px;
      }
    }

    &__list {
      grid-gap: 30px;
    }

    &__title {
      font-size: 18px;
    }

    &__text {
      font-size: 18px;
      max-width: 90%;
    }
  }
}

@media screen and (min-width: 1400px) {
  .feature {
    &__list {
      grid-column-gap: 50px;
      grid-row-gap: 30px;
    }

    &__title {
      font-size: 19px;
    }

    &__text {
      max-width: 100%;
    }
  }

  #play .feature {
    &__list {
      width: 100%;
      grid-gap: 18px;
    }
  }
}