.footer {
  background-color: #f5f5f7;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;

  &__title {
    font-size: 16px;
    font-weight: 500;
    color: #1d1d1f;
    margin-bottom: 8px;
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    color: #6e6e73;
    margin-bottom: 12px;
  }

  &__icon {
    margin-left: 6px;
  }

  a {
    font-size: 14px;
    font-weight: 400;
    color: #6e6e73;

    &:hover,
    &:focus {
      color: #616165;
    }
  }
}

@media screen and (min-width: 992px) {
  .footer {
    &__title {
      font-size: 18px;
    }

    &__text {
      font-size: 16px;
    }

    a {
      font-size: 16px;
    }
  }
}