$color-text-primary: #1e1e1f;
$color-text-secondary: #999999;
//$color-text-secondary: #1d1d1f;

$color-white: #fff;
$color-light: #e4e7ea;
$color-gray: #3c4043;

// Colors
$color-primary: #186ef0;
$color-secondary: #212529;

$color-primary-hover: #1562d6;
$color-primary-focus: #1b62c0;

$color-secondary: #ebedf0;
$color-secondary-hover: #d7d9db;