<footer class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h5 style="font-size: 16px">«Сделано с любовью, ведь мы любим то, чем занимаемся»</h5>
                <p>Любое полное или частичное воспроизведение этого сайта строго запрещено.</p>
                <a href="#!">Политика конфиденциальности<i class="far fa-external-link-alt icon-margin-left"></i></a>
            </div>
        </div>
    </div>
</footer>