<footer class="footer">
  <div class="container">
    <h3 class="footer__title">«Сделано с любовью, ведь мы любим то, чем занимаемся»</h3>
    <p class="footer__text">Любое полное или частичное воспроизведение этого сайта строго запрещено.</p>
    <a href="#">Политика конфиденциальности<i class="footer__icon far fa-external-link-alt"></i></a>
  </div>
</footer>