@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
.btn {
  box-shadow: none;
  padding: 9px 19px;
  border-radius: 6px;
  font-weight: 500;
  letter-spacing: .02rem;
  font-size: 16px;
  line-height: 24px; }
  .btn.btn--primary {
    color: #fff;
    background-color: #186ef0;
    border: 1px solid #186ef0; }
    .btn.btn--primary:hover {
      background-color: #1562d6;
      border-color: #1562d6; }
    .btn.btn--primary:focus, .btn.btn--primary:active {
      background-color: #1b62c0;
      border-color: #1b62c0; }
  .btn.btn--secondary {
    color: #79797a;
    background-color: #ebedf0;
    border: 1px solid #ebedf0; }
    .btn.btn--secondary:hover, .btn.btn--secondary:active, .btn.btn--secondary:focus {
      background-color: #d7d9db;
      border-color: #d7d9db; }
  .btn.btn--info {
    color: #186ef0;
    background-color: #fff;
    border: 1px solid #186ef0; }
    .btn.btn--info:hover, .btn.btn--info:focus, .btn.btn--info:active {
      background-color: #f5f5f5;
      box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5); }

@media screen and (min-width: 1200px) {
  .btn {
    font-size: 16px; } }
.container {
  max-width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto; }

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px; } }
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px; } }
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px; } }
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px; } }
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px; } }
.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background: #fff;
  transition: all .3s ease-out; }
  .preloader img {
    height: 70px;
    width: auto; }
  .preloader.preloader--hidden {
    opacity: 0;
    z-index: -1; }

.logo {
  display: flex;
  align-items: center;
  white-space: nowrap; }
  .logo__image {
    height: 35px;
    width: 35px; }
  .logo__text {
    font-family: 'Poppins', sans-serif;
    color: #1e1e1f;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    width: 100%; }
  .logo__title {
    font-size: 16px;
    font-weight: 600; }
  .logo__subtitle {
    font-size: 16px;
    font-weight: normal; }

.header {
  border-bottom: 1px solid #e4e7ea; }
  .header .navbar {
    display: flex;
    align-items: center;
    position: relative;
    height: 60px; }
    .header .navbar__button {
      margin-left: auto;
      z-index: 1000; }
      .header .navbar__button #times {
        display: none; }
      .header .navbar__button.is-open #times {
        display: block; }
      .header .navbar__button.is-open #bars {
        display: none; }
    .header .navbar__icon {
      width: 20px;
      height: 20px; }
    .header .navbar__profile {
      display: flex;
      margin-top: auto; }
      .header .navbar__profile .btn:not(:last-child) {
        margin-right: 8px; }
    .header .navbar__content {
      display: none; }
      .header .navbar__content.is-open {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #fff;
        padding: 58px 30px 48px;
        display: flex;
        flex-direction: column; }
      .header .navbar__content .nav__list {
        display: flex;
        flex-direction: column;
        list-style: none;
        grid-gap: 20px; }
      .header .navbar__content .nav__item {
        position: relative; }
      .header .navbar__content .nav__link {
        display: flex;
        align-items: center;
        color: #3c4043;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); }
        .header .navbar__content .nav__link:hover, .header .navbar__content .nav__link:focus {
          color: #186ef0; }
        .header .navbar__content .nav__link--active {
          color: #186ef0; }
      .header .navbar__content .nav__label {
        font-family: Inter, sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 1; }
      .header .navbar__content .nav__icon {
        margin-right: 14px;
        font-size: 20px; }
  .header .btn.btn--primary, .header .btn.btn--secondary {
    padding: 6px 13px;
    font-size: 18px; }

@media screen and (min-width: 1200px) {
  .header .navbar {
    height: 70px; }
    .header .navbar__button {
      display: none; }
    .header .navbar__content {
      display: flex;
      width: 100%; }
      .header .navbar__content .nav {
        display: flex;
        align-items: center;
        margin: auto; }
        .header .navbar__content .nav__list {
          flex-direction: row;
          align-items: center;
          justify-content: center;
          grid-gap: 10px; }
        .header .navbar__content .nav__link {
          padding: 10px 14px;
          line-height: 1.5; }
          .header .navbar__content .nav__link--active {
            background-color: #e4f1ff;
            border-radius: 20px; }
        .header .navbar__content .nav__label, .header .navbar__content .nav__icon {
          font-size: 15px; }
        .header .navbar__content .nav__label {
          text-transform: uppercase;
          font-weight: 500; }
  .header .btn.btn--primary, .header .btn.btn--secondary {
    padding: 9px 19px;
    font-size: 16px; } }
@media screen and (min-width: 1400px) {
  .header .navbar__content .nav__list {
    grid-gap: 20px; } }
.footer {
  background-color: #f5f5f7;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center; }
  .footer__title {
    font-size: 16px;
    font-weight: 500;
    color: #1d1d1f;
    margin-bottom: 8px; }
  .footer__text {
    font-size: 14px;
    font-weight: 400;
    color: #6e6e73;
    margin-bottom: 12px; }
  .footer__icon {
    margin-left: 6px; }
  .footer a {
    font-size: 14px;
    font-weight: 400;
    color: #6e6e73; }
    .footer a:hover, .footer a:focus {
      color: #616165; }

@media screen and (min-width: 992px) {
  .footer__title {
    font-size: 18px; }
  .footer__text {
    font-size: 16px; }
  .footer a {
    font-size: 16px; } }
.badge {
  margin-top: 20px; }
  .badge__content {
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e4e7ea;
    border-radius: .75rem; }
  .badge__icon {
    display: flex;
    height: 54px;
    width: 54px;
    border-radius: 50%;
    background-color: #e4f1ff;
    color: #186ef0;
    font-size: 1.6em; }
    .badge__icon svg {
      margin: auto; }
  .badge__text {
    margin-top: 12px;
    margin-bottom: 24px;
    text-align: center;
    color: #1e1e1f; }
  .badge__title {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 4px; }
  .badge__subtitle {
    font-size: 16px;
    font-weight: 400;
    color: #3c4043; }
  .badge__buttons {
    margin: 0 auto;
    display: inline-flex; }
    .badge__buttons .btn:not(:last-child) {
      margin-right: 8px; }

.banner {
  background: linear-gradient(180deg, #186ef0, #429ae7);
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .banner__content {
    color: #fff;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px; }
  .banner__title {
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 15px;
    text-transform: uppercase; }
  .banner__subtitle {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px; }
  .banner__text {
    font-size: 14px;
    font-weight: 300;
    margin-top: 25px; }
  .banner .btn--about {
    background-color: #fff;
    border-color: #fff;
    color: #186ef0; }
    .banner .btn--about:hover, .banner .btn--about:focus {
      filter: brightness(95%); }

@media screen and (min-width: 576px) {
  .banner__title {
    font-size: 30px; }
  .banner__subtitle {
    font-size: 18px;
    max-width: 500px; }
  .banner__text {
    font-size: 16px;
    margin-top: 35px; }
  .banner .btn--about {
    padding: 11px 19px;
    font-size: 17px; } }
@media screen and (min-width: 768px) {
  .banner__title {
    font-size: 34px; } }
@media screen and (min-width: 992px) {
  .banner__subtitle {
    max-width: 600px; } }
@media screen and (min-width: 1200px) {
  .banner__content {
    padding-top: 50px;
    padding-bottom: 50px; }
  .banner__subtitle {
    font-size: 20px;
    max-width: 700px; }
  .banner .btn--about {
    font-size: 19px; } }
.feature__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 22px;
  list-style: none; }
.feature__item {
  display: flex;
  grid-gap: 16px; }
.feature__image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebedf0;
  border-radius: 8px;
  width: 70px;
  height: 70px;
  min-width: 70px;
  min-height: 70px; }
  .feature__image img {
    width: 42px;
    height: 42px; }
.feature__content {
  color: #3c4043; }
.feature__title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 4px; }
.feature__text {
  font-size: 14px; }
  .feature__text a {
    color: #186ef0; }
    .feature__text a:hover, .feature__text a:focus {
      color: #1562d6; }

@media screen and (min-width: 576px) {
  .feature__item {
    display: flex; }
  .feature__image {
    min-width: 70px;
    min-height: 70px; }
  .feature__title {
    font-size: 18px; }
  .feature__text {
    font-size: 16px; }

  #play .feature__item {
    align-items: center; } }
@media screen and (min-width: 768px) {
  .feature__list {
    width: 80%;
    margin: 0 auto; }

  #play .feature__list {
    grid-template-columns: 1fr;
    width: 80%;
    margin: 0 auto; } }
@media screen and (min-width: 992px) {
  .feature__list {
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px;
    width: 100%; }

  #play .feature__list {
    display: flex;
    width: 100%;
    grid-gap: 12px; } }
@media screen and (min-width: 1200px) {
  .feature__list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px; }
  .feature__title {
    font-size: 20px; }
  .feature__text {
    font-size: 20px;
    max-width: 90%; }
  .feature__image {
    min-width: 90px;
    min-height: 90px; }

  #play .feature__image {
    display: inline-flex;
    width: 60px;
    height: 60px; } }
@media screen and (min-width: 1400px) {
  .feature__image {
    display: inline-flex;
    width: 65px;
    height: 65px;
    min-width: 65px;
    min-height: 65px; }
    .feature__image img {
      width: 35px;
      height: 35px; }
  .feature__list {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 30px; }
  .feature__item {
    align-items: center; }
  .feature__title {
    font-size: 18px;
    margin-bottom: 0; }
  .feature__text {
    font-size: 18px;
    max-width: 100%; }

  #play .feature__image {
    display: inline-flex;
    width: 65px;
    height: 65px;
    min-width: 65px;
    min-height: 65px; }
    #play .feature__image img {
      width: 35px;
      height: 35px; }
  #play .feature__list {
    width: 100%;
    grid-gap: 18px; } }
.section {
  padding-top: 40px;
  padding-bottom: 40px; }
  .section.border.border--top {
    border-top: 1px solid #e4e7ea; }
  .section.border.border--bottom {
    border-bottom: 1px solid #e4e7ea; }
  .section .information__label {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 8px;
    color: #186ef0; }
    .section .information__label--center {
      text-align: center; }
  .section .information__title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
    color: #1e1e1f; }
    .section .information__title--center {
      text-align: center; }
  .section .information__text {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
    color: #3c4043; }
    .section .information__text--center {
      text-align: center; }
  .section .information__list {
    margin-bottom: 16px;
    padding-left: 15px;
    color: #3c4043; }
  .section .information__item span {
    font-weight: 500; }
  .section .information__buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    text-align: center; }
  .section .information__href svg {
    margin-left: 8px; }
  .section__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem; }
  .section .box-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 30px; }
    .section .box-text span.line {
      height: 1px;
      width: 25px;
      background: #e4e7ea; }
    .section .box-text span.text {
      font-size: 15px;
      font-weight: 400;
      color: #1e1e1f;
      margin: 0 12px;
      text-transform: uppercase;
      text-align: center; }

@media screen and (min-width: 576px) {
  .section__image {
    width: 100%;
    height: 260px;
    object-fit: cover; }
  .section .information__label {
    font-size: 20px; }
  .section .information__title {
    font-size: 24px; }
  .section .information__text, .section .information__list, .section .information__href {
    font-size: 18px; }
  .section .information__buttons {
    display: flex; }
  .section .box-text span.line {
    width: 40px; }
  .section .box-text span.text {
    font-size: 18px; } }
@media screen and (min-width: 768px) {
  .section .information__label {
    font-size: 20px; }
  .section .information__title {
    font-size: 26px; }
  .section .box-text span.line {
    width: 40px; }
  .section .box-text span.text {
    font-size: 18px; } }
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 70px;
    padding-bottom: 70px; }
    .section--revert .section__information {
      grid-row: 2; }
    .section--revert .section__image {
      grid-row: 1; }
    .section__image {
      width: 90%;
      height: 300px;
      object-fit: cover; }
    .section .information__label {
      font-size: 20px;
      margin-bottom: 2px; }
    .section .information__title {
      font-size: 26px; }
    .section .information__text {
      max-width: 580px; }
    .section .information__text, .section .information__list, .section .information__href {
      font-size: 18px; }
    .section .information__buttons {
      margin-top: 24px; } }
.rules {
  margin-top: 28px; }
  .rules__title {
    font-size: 16px;
    font-weight: 500;
    color: #1e1e1f; }
  .rules__content {
    color: #3c4043; }
  .rules__list {
    list-style: none;
    padding-top: 10px; }
    .rules__list:not(:last-child) {
      padding-bottom: 20px; }
  .rules__punishment {
    color: #186ef0;
    margin-top: 10px;
    margin-bottom: 12px; }
  .rules-description__list {
    list-style: square;
    padding-top: 10px;
    padding-left: 15px; }
  .rules-description__item:not(:last-child) {
    margin-bottom: 4px; }

.authentication {
  background: url("https://mc-cloudy.com/public/images/civilization.webp") no-repeat;
  background-size: cover;
  overflow: hidden; }
  .authentication form {
    display: flex;
    flex-direction: column; }
  .authentication .btn {
    margin: 0 auto; }
  .authentication__content {
    background: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -60px; }
  .authentication__inputs .authentication__input:first-child {
    margin-top: 15px; }
  .authentication__inputs .authentication__input:not(:last-child) {
    margin-bottom: 15px; }
  .authentication__inputs--bottom {
    margin-bottom: 25px; }
  .authentication__input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 8px 12px;
    width: calc(100% - 24px); }
  .authentication__text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #186ef0; }
    .authentication__text svg {
      margin-right: 8px; }
    .authentication__text--error {
      text-align: center; }
  .authentication__info {
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px; }
    .authentication__info--left {
      text-align: left; }
    .authentication__info--bottom {
      margin-bottom: 25px; }
  .authentication__footer {
    font-size: 14px;
    color: #3c4043;
    text-align: center;
    margin-top: 30px; }

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400; }

a {
  text-decoration: none;
  color: #186ef0; }
  a:hover, a:focus {
    color: #1562d6; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0; }

ul {
  padding: 0; }

img {
  display: block; }

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0; }
  button:focus:not(:focus-visible) {
    outline: 0; }

#main-content {
  flex: 1 0 auto; }

footer {
  flex: 0 0 auto; }

.flex {
  display: flex;
  justify-content: center;
  align-items: center; }

.display-grid-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px; }

@media screen and (min-width: 992px) {
  .display-grid-2 {
    grid-template-columns: 1fr 1fr;
    align-items: center; } }

/*# sourceMappingURL=main.css.map */
