@import "utils/variables";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/buttons";
@import "utils/container";

@import "components/preloader";

@import "components/logo";

@import "components/header";
@import "components/footer";

@import "components/badges";
@import "components/banner";
@import "components/feature";
@import "components/section";

@import "components/rules";
@import "components/authentication";

body {
  margin: 0;
  padding: 0;
  background-color: $color-white;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: $color-primary;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $color-primary-hover;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
}

img {
  display: block;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;

  &:focus:not(:focus-visible) {
    outline: 0;
  }
}

#main-content {
  flex: 1 0 auto;
}

.footer {
  margin-top: auto;
  flex: 0 0 auto;
}

.flex {
  @include flex;
}

.display-none {
  display: none;
}

.display-grid-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
}

@media screen and (min-width: 992px) {
  .display-grid-2 {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}