<!DOCTYPE html>
<html lang="ru">
<head>
    {{ include('components/head.html.twig') }}
    <title>{% block title %}Личный кабинет{% endblock %}</title>
</head>
<body>
    {{ include('components/preloader.html.twig') }}
    {{ include('components/header.html.twig') }}

    <main>
      {{ include('components/badges.html.twig') }}

      <section class="section">
        <div class="container">
          <div class="information">
            <h2 class="information__title information__title--center">Личный кабинет</h2>
            <p class="information__text information__text--center">Здесь вы сможете найти информацию о персонаже и изменить данные от аккаунта</p>
          </div>
        </div>
      </section>
    </main>
</body>
