<!DOCTYPE html>
<html lang="ru">
<head>
    {{ include('include/head.html.twig') }}
    <title>{% block title %}Восстановление пароля{% endblock %}</title>
</head>
<body>
    {{ form_start(recoverForm) }}
        {{ form_widget(recoverForm.email) }}
        <button type="submit">Submit</button>
    {{ form_end(recoverForm) }}
</body>