<div style="max-width: 650px; display: flex; flex-wrap: wrap;">
    <div style="flex: 0 0 100%; max-width: 100%;">
        <div style="background-color: rgba(51, 154, 253, 1); box-shadow: 0 2px 32px 0 rgba(0, 0, 0, 0.11); border-radius: 10px 10px 0 0">
            <div style="padding: 12px 28px">
                <p style="font: 16px 'Roboto', sans-serif; text-transform: uppercase; color: white; font-weight: 500; padding: 0; margin: 0;">Minecraft Cloudy - Восстановление пароля</p>
            </div>
        </div>
        <div style="padding: 22px 28px; background: #fff; box-shadow: 0 2px 32px 0 rgba(0, 0, 0, 0.11); border-radius: 0 0 10px 10px">
            <p style="color: black; line-height: 24px; font: 20px 'Roboto', sans-serif; font-weight: 600;">Восстановление пароля</p>
            <p style="color: rgb(44 70 86); line-height: 24px; font: 16px 'Roboto', sans-serif; padding: 0; margin-top: 3px;">Ссылка для подтверждения ваших действий истечёт через 1 час.</p>
            <p style="color: rgb(44 70 86); line-height: 24px; font: 16px 'Roboto', sans-serif; padding: 0; margin-top: 7px;">С уважением, команда <b>Minecraft Cloudy!</b></p>
            <div style="display: flex; justify-content: center; align-items: center; margin-top: 20px">
                <a href="{{ signedUrl }}" style="font: 16px 'Roboto', sans-serif; border: none; display: flex; justify-content: center; color: white; padding: 0.5em 1em; border-radius: 15px; font-weight: 600; background-color: #343a40; text-decoration: none;">Восстановить пароль</a>
            </div>
        </div>
    </div>
</div>