<div style="width: 100%; margin: 0; padding: 0 30px; font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif; font-size: 16px; font-weight: 400; line-height: 1; background: #fff; color: #333; box-sizing: border-box">
  <div style="margin: 0 auto; width: 100%; max-width: 600px; height: 100%">
    <div style="padding: 10px 24px; border: 1px solid #e4e7ea; border-radius: 10px">
      <div style="margin-top: 16px;">
        <p style="margin-bottom: 6px; margin-top: 0; color: #186ef0; font-size: 17px; font-weight: 500">Вселенная развлечений</p>
        <h2 style="margin-bottom: 14px; margin-top: 0; color: #3c4043; font-size: 19px; font-weight: 600">Восстановление доступа</h2>
        <p style="margin-bottom: 10px; margin-top: 0; color: #3c4043; font-size: 15px; font-weight: 400">Команда разработчиков заботится о сохранности ваших аккаунтов, предоставив систему восстановления доступа к аккаунту.</p>
        <p style="margin-bottom: 24px; margin-top: 0; color: #3c4043; font-size: 15px; font-weight: 400; max-width: 490px">Для сброса пароля используйте ссылку ниже. Срок действия ссылки истечёт через 1 час.</p>
        <a style="margin-bottom: 0; margin-top: 0; font-size: 15px; font-weight: 500; color: #186ef0; text-decoration: none" href="{{ signedUrl }}">Нажмите здесь, чтобы сбросить пароль.</a>
        <p style="margin-bottom: 18px; margin-top: 10px; color: #3c4043; font-size: 14px; font-weight: 300">С уважением, команда разработчиков Minecraft Cloudy.</p>
      </div>
    </div>
  </div>
</div>